// Material-design-icons
// Docs at http://google.github.io/material-design-icons/#icon-images-for-the-web

// These enable scaling of the icons
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// These create dark and light backgrounds
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// This is an example of colouring the icons
// For some reason this rule does not work
// Only inline styling works for icon color
.material-icons.icon-red { color: red !important; }
